<h1>
	<%= @article.title %>
</h1>
<p>
	<%= markdown(@article.text).html_safe %>
</p>
<hr>

<!-- Blog Comments -->
<!-- Comments Form -->
<%= render 'comments/form' %>
<hr>
<!-- Posted Comments -->
<!-- Comment -->
<%= render @article.comments %>
<hr>

<!-- 日志归档 -->
<%= render 'archive' %>

