<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- flash message -->
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <!-- /.flash message -->
        <%= yield %>
        <%= render 'layouts/pager' %>               
      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4">
       <%= render 'layouts/searcher' %>
        <div class="well">
          <h4>分类目录</h4>
          tag1    tag2    tag3
        </div>
        <div class="well">
          <h4>文章归档</h4>
          <%= yield(:archive) %>
        </div>   
      </div>
    </div>
    <hr>
    <%= render 'layouts/footer' %>
  </div>
  <!-- /.container -->

</body>
</html>
